@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper-navbar {
  //background: #fff!important;

  .navbar {
    background-color: rgba(255, 255, 255, 0.8)!important;
    //background: #fff!important;

    #searchsubmit {
      font-family: FontAwesome;
    }

    .active {

      .nav-link {
        color: #000;
        text-decoration: underline;
      }
    }

    .nav-link {
      color:#1B7195;

      &:hover {
        color: #000;
      }

      &:active {
        color: #000;
      }
    }
  }
}

#wrapper-footer {
  background: #999;
}

.entry-title {
	display:none;
}

.wrapper {
	padding: 0;
}

#primary {
	padding: 0;
}

.main-content-wrapper {
	max-width: 900px;
}
